<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>CL3 CRUD Producto</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="container my-2">
			<h1>Lista de Productos</h1>
			<a th:href="@{/nuevoProducto}" class="btn btn-primary btn-sm mb-3">Nuevo Producto</a>
			<table border="1" class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>Producto</th>
						<th>Precio (S/)</th>
						<th>Cantidad</th>
						<th>Acciones</th>
					</tr>					
				</thead>
				<tbody>
					<tr th:each="item : ${listarProducto}">
						<td th:text="${item.nombre}"></td>
						<td th:text="${item.precio}"></td>
						<td th:text="${item.cantidad}"></td>
						<td>
							<a th:href="@{/actualizarProducto/{id}(id = ${item.id})}" class="btn btn-info">Editar</a>
							<a th:href="@{/eliminarProducto/{id}(id = ${item.id})}" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>